<% content_for :head do %>
	<style type="text/css">
		#map_canvas {width:90%; height:400px;}*/
    </style>
	<script type="text/javascript"  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAzTXEatFCqqF1WW9AH3CF_aeDQZ-o_gjs&sensor=false">
	</script>
	<script type="text/javascript">
	/* TODO - need to test my javascript */
		function initialize(lat, lng) {
			var myLatlng = new google.maps.LatLng(lat,lng);
			var myOptions = {
				center: myLatlng,
				zoom: 16,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			
			var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			
			var marker = new google.maps.Marker({
				position: myLatlng, 
				map: map,
				title:"Current perceived location"
			});
		}
		$(document).ready( function(){
			initialize(<%= @coordinates.latitude %>, <%= @coordinates.longitude %>)
			$("#map_canvas").append("...loading map");
		});
	</script>
<% end %>
<h1>Distress - tracking</h1>
<p>User: <%= current_user.name %></p>

<div id="map_canvas">
	We are attempting to show the location regarding the distress notification...
</div>
<div>
  <h3>Add additional information</h3>
  <%= form_for @incident, :html => {:multipart => true} do |f| %>
    <%= label_tag(:comment, "Additional information:") %>
    <%= text_area_tag(:comment) %>
  
    <%= label_tag(:picture, "Add a picture:") %>
    <%= file_field_tag :picture %>
    <br/>
  	<%= submit_tag('update', :class=>"btn-small") %>
  <% end %>
</div>
<% if @incident.incident_histories.any? %>
  <div>
    <h3>History</h3>
    <% @incident.incident_histories.each do |update| %>
    <div>
      <%= update.comment %>
      <%= image_tag update.picture.url %>
      <div>
        <%= update.updated_at %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>